.root {
  min-height: 200px;
  background: #050e15;
  padding: 30px 0;
  color: #eaeaea;
  font-size: 15px;

  h4 {
    text-transform: uppercase;
    font-weight: 100;
  }

  ul {
    padding-left: 0;
  }

  li {
    padding-bottom: 8px;
    list-style-type: none;
  }

  a {
    color: #eaeaea;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
      color: #5bdc78;
    }
  }

  .contacts {
    display: inline-block;
    margin-right: 100px;

    @media (max-width: 500px) {
      margin-right: 0;
      width: 100%;
    }
  }

  .links {
    display: inline-block;
  }
}
